/* all pages */
html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
	font-family: 'Poppins', sans-serif;
  background-color: #4D5159;
  color: #fff;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex-grow: 1;
}

.action_button {
  background-color: inherit;
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	display: inline-block;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.action_button:hover {
	background: #fff;
	color: #333;
}

/* index.html */

.welcome-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  text-align: center;
}

.welcome-text h1 {
  padding-left: 20%;
  padding-right: 20%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 3em;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 40px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}

/* map_list.html, user_overview.html */
.content_inner {
  padding: 2%;
}

.overview_title {
  margin-bottom: 20px;
}

td {
  padding-left: 3px;
  padding-right: 3px;
}

td > a {
  color: #fff;
  text-decoration: underline #fff;
}

.modal span, .modal h5 {
  color: black;
}

.btn-map-explore {
  color: #00fecb
}

.btn-map-delete {
  color: #ec939c
}



/* map_view.html, map_edit.html */
.map {
  height: 85%;
  width: 90%;
  margin: auto;
  padding-bottom: 2%;
}

.alert {
  display: none;
}

.map-header {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}