{% extends "base.html" %}

{% block title %}
GeoFX - Login
{% endblock %}

{% block content %}
  <div class="content_inner">
    {% if maps|length > 0 %}
      <h3 class="overview_title">The following geofencing maps are available:</h3>
      <table>
        {% for map in maps %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/map/{{ map.url_name }}/">{{ map.title }} - {{ map.display_name }}</a></td>
            <td><a href="/map/{{ map.url_name }}/" class="action_button">Explore</a></td>
          </tr>
        {% endfor %}
    </table>
    {% else %}
      <p>Looks like there are no maps available.</p>
    {% endif %}
  </div>
{% endblock %}