{% extends "base.html" %}

{% block additional_styles %}
  <link rel="stylesheet" href="/static/dist/ol.v6.4.3-dist/ol.css" type="text/css">
{% endblock %}

<head>
  <title>Geofencing</title>
</head>

{% block content %}
 <body>
 <div class="container">
  <div class="content_inner">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 ">
        <div class="form-group">
          <form method="post">{% csrf_token %}
            {% if url_name %}
            Geofencing map editing area - {{ url_name }}
            {% else %}
              Create here a new geofencing map
            {% endif %}
            <div class="row">
              <label for="url_name" class>URL name</label>
              <input type="text" name="url_name" value="{{ url_name }}" class="form-control">
            </div>
            <div class="row">
              <label for="display_name">Display name</label>
          <input type="text" name="display_name" value="{{ display_name }}" class="form-control">
            </div>
          <div class="row">
            <label for="title">Title</label>
            <input type="text" name="title" value="{{ title }}" class="form-control"></br> 
          </div>
          <div class="row">
            <label for="description">Description</label>
            <input type="text" name="description" value="{{ description }}" class="form-control"></br>
          </div>
          <div class="row">            
            <label for="map_center">Map center
              <br><span>Please provide the longitude and latitude of the center, seperated by a comma. E.g., "11.57,48.14"</span>
            </label>
          <input id="map_center_input_real" name="map_center" value="{{map_center}}" hidden></input>
          <textarea id="map_center_input" class="form-control"></textarea></br> 
          </div>
          <div class="row">
            <label for="map_zoom_level">Map zoom level</label>
            <select name="map_zoom_level" class="form-control">
              {% for level in available_zoom_levels %}
                {% if map_zoom_level %}
                  {% if map_zoom_level == level %}
                    <option value={{level}} selected>{{level}}</option>
                    {% else %}
                    <option value={{level}}>{{level}}</option>
                  {% endif %}
                {% else %}
                  {% if level == 8 %}
                    <option value={{level}} selected>{{level}}</option>
                  {% else %}
                    <option value={{level}}>{{level}}</option>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </select></br>
          </div>
          <div class="row">
            <label for="fence_enter_message">Fence enter message</label>
          <input type="text" name="fence_enter_message" value="{{ fence_enter_message}}" class="form-control"></br> 
          </div>
          <div class="row">
            <label for="fence_leave_message">Fence leave message</label>
          <input type="text" name="fence_leave_message" value="{{ fence_leave_message }}" class="form-control"></br> 
          </div>
          <div class="row">
            <label for="basemap">Basemap</label>
          <input type="text" name="basemap" value="{{ basemap }}" class="form-control"> <br/>
          </div>
          <div class="row">
          <button class="btn btn-success form-control">Submit</button>

          </div>
    </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    
    
    <hr/>
    <h3>Geofencing polygon</h3>
    <div class="alert" role="alert">
      <span class="alert-text">Alert text</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% if not geofencing_layer_name %}
      You have not uploaded a file with the geofencing geometry yet. Please upload it here.
    {% endif %}
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group">
          <form id="polygonUploadForm" method="post" action="polygon_create/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <label for="geofencing_layer_name">Layer name: </label>
              <input type="text" name="geofencing_layer_name" value="{{ geofencing_layer_name }}"><br/>
            </div>
              <div class="row">
                <label for="inputGeofencingFile">Upload new file (.geojson): </label>
                <input type="file" id="inputGeofencingFile" name="geofencing_polygon" class="form-control"><br/>
              </div>
            <div class="row">
              <button class="btn btn-success form-control"
              {% if url_name %}
              {% else %}
                disabled
              {% endif %}
              >Submit</button>    
            </div>
        </form>
        </div>
      </div>
    </div>
  
    
  </div>
 </div>
 </body>
  {{ map_data|json_script:"map_data" }}
{% endblock %}

{% block additional_scripts %}
  <script type="text/javascript" src="/static/js/map_edit.js"></script>
{% endblock %}
